*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
#header .wrapper{
    background: #005959;
    position: fixed;
    width: 100%;
}
#header .wrapper nav{
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
#header nav .content{
    display: flex;
    align-items: center;
}

#header nav .content .links{
    margin-left: 80px;
    display: flex;
}
#header .content .logo a{
    color:#fff ;
    font-size: 30px;
    font-weight: 600;
}
#header .content .links li{
    list-style: none;
    line-height: 70px;
}
#header .content .links li a,
#header .content .links li label{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    transition: all 0.3s ease;
    /* margin: 5px; */
}
#header .content .links li a:hover,
#header .content .links li label:hover{
    background: #48a9a6;
}
#header .wrapper .search-icon,
#header .wrapper .cart-icon,
#header .wrapper .menu-icon{
    color: white;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align:center;
}
#header .wrapper .menu-icon{
    display: none;
}
#header .wrapper #show-search:checked ~.search-icon i::before{
    content: "\f00d";
}
#header .wrapper .search-box{
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;

}
#header .wrapper #show-search:checked ~ .search-box{
    opacity: 1;
    pointer-events: auto;
}
#header .search-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: white;
    background:#005959;
    padding: 0 50px 0 15px;
}
#header .search-box input::placeholder{
    color: white;

}
#header .search-box .go-icon{
    position:absolute;
    right: 40px;
    top: 50%;
    line-height: 60px;
    transform: translateY(-50%);
    width: 70px;
    background: #005959;
    border: none;
    outline: none;
    color:#48a9a6 ;
    font-size: 20px;
    cursor: pointer;
}
#header .wrapper input[type="checkbox"]{
    display: none;
}



/*Dropdown menu*/
#header .content .links ul{
        position: absolute;
        background: #005959;
        top:70px;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
    }
#header .content .links li:hover > ul{
        top: 70px;
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease;
    }
#header    .content .links ul li a{
        display: block;
        width: 100%;
        line-height: 30px;
        border-radius: 0px !important;
    }
    

/* Responsive */
@media screen and (max-width: 1050px){
    #header .wrapper nav{
        max-width: 100%;
        padding: 0 20px;
    }

    #header nav .content .links{
        margin-left: 30px;

    }
    #header .content .links li a{
        padding: 8px 13px;
    } 
    #header .wrapper .search-box{
        max-width: calc(100% - 100px);
    }
    #header .wrapper .search-box input{
        padding: 0 100x 0 15px; 
    }
}
@media screen and (min-width: 900px) and (max-width: 957px) { 
    
    
    #header .content .links li label,
    #header .content .links li a{
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    padding: 9px 5px;
    transition: all 0.3s ease;
    margin: 5px;
}
}
@media screen and (max-width: 900px){
    #header .wrapper .menu-icon{
        display: block;
    }

    #header .wrapper #show-menu:checked ~ .menu-icon i::before{
        content: "\f00d" ;
    }
    #header nav .content .links{
        display: block;
        position: fixed;
        height: 100%;
        width: 100%;
        background: #005959;
        top: 70px;
        left: -100%;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        transition: all 0.3s ease;
    }
    #header nav #show-menu:checked ~ .content .links{
        left: 0%;
    }
    #header .content .links li{
        margin: 15px 20px;
    }
    #header .content .links li a,
    #header .content .links li label{
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
    }
    #header .content .links li a.desktop-link {
        display: none;
    }

    /* Dropdown responsive */
    #header .content .links ul{
        position: static;
        opacity: 1;
        visibility: visible;
        background: none;
        max-height: 0px ;
        overflow: hidden;
    }
    #header .content .links #show-features:checked ~ ul{
        max-height: 100vh;
    }
    #header .content .links ul li{
        margin: 7px 20px;
    }
    .content .links ul li a{
        font-size: 18px;
        line-height: 30px;
        border-radius: 5px !important;
    }
}