.minicart {
    position: fixed;
    width: 400px;
    height: 100%;
    padding: 18px 28px 33px;
    background: #48A9A6;
    right: 0;
    top: 0;
    overflow-y: scroll;
    right: -100%;
    transition: .5s;
}

@media only screen and (max-width: 767px) {
    .minicart {
        width: 300px;
        height: 100%;
        padding: 18px 18px 33px;
    }
}

.cart_close h2 {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 0;
}

.cart_close {
    overflow: visible;
    padding: 20px 0;
    border-bottom: 1px solid #ededed;
    display: flex;
    justify-content: space-between;
}

.mini_cart_close > a {
    font-size: 25px;
}

    .mini_cart_close > a:hover {
        color: #005959;
    }


.cart_icon{
    cursor: pointer;
}

.cart_img {
    width: 90px;
    margin-right: 10px;
    border: 1px solid transparent;
}

    .cart_img:hover {
        border-color: #005959;
    }

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cart_img {
        width: 70px;
    }
}

@media only screen and (max-width: 767px) {
    .cart_img {
        width: 70px;
    }
}

.cart_info {
    width: 63%;
}

    .cart_info a {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        display: block;
        margin-bottom: 6px;
    }

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cart_info a {
        font-size: 13px;
    }
}

@media only screen and (max-width: 767px) {
    .cart_info a {
        font-size: 13px;
    }
}

.cart_info a:hover {
    color: #005959;
}

.cart_info p {
    font-size: 12px;
}

    .cart_info p span {
        font-weight: 600;
    }

.cart_remove a {
    font-size: 15px;
    text-align: end;
}

    .cart_remove a:hover {
        color: #005959;
    }

.cart_item{
    overflow: visible;
    padding: 20px 0;
    border-bottom: 1px solid #ededed;
    display: flex;
    justify-content: space-between;
}

.mini_cart_table {
    padding: 23px 0;
}

.cart_total {
    display: flex;
    justify-content: space-between;
}

    .cart_total span {
        font-size: 14px;
        font-weight: 400;
    }

        .cart_total span.price {
            font-weight: 700;
        }

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cart_total span {
        font-size: 13px;
    }
}

@media only screen and (max-width: 767px) {
    .cart_total span {
        font-size: 13px;
    }
}

.cart_button:first-child {
    margin-bottom: 15px;
}

.cart_button a {
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    background: #eef0f1;
    display: block;
    text-align: center;
    line-height: 20px;
    margin-bottom: 0;
    padding: 13px 0px 11px;
    border: 1px solid #ededed;
}

    .cart_button a:hover {
        background: #005959;
        border-color: #005959;
        color: #ffffff;
    }
